In [1]:
print("Hello World")

Hello World

In [2]:
1 + 1

2

In [3]:
1 - 1

0

In [4]:
4 / 2

1.0

In [11]:
4 * 2

8

In [6]:
4 ** 2

16

In [8]:
5 // 2

2

In [9]:
5 % 2

1

In [12]:
4 ** 0.5

2.0

## int - целые

In [13]:
13

13

## float - дробные

In [14]:
13.0

13.0

In [15]:
type(13)

int

In [16]:
type(13.0)

float

In [17]:
int(13.0)

13

In [18]:
float(13)

13.0

# str - строки

In [19]:
тестовая строка

SyntaxError: invalid syntax (<ipython-input-19-d9c7c1cecdc1>, line 1)

In [21]:
"тестовая строка"  # 'тестовая строка'

'тестовая строка'

In [23]:
"тестовая строка \"TMS\""

'тестовая строка "TMS"'

In [24]:
'тестовая строка "TMS"'

'тестовая строка "TMS"'

# bool - флаг / буленовский (True / False)

In [25]:
True

True

In [26]:
False

False

In [27]:
type(True), type(False)

(bool, bool)

In [31]:
bool(1), bool(-1)

(True, True)

In [32]:
bool(0)

False

In [33]:
bool("")

False

In [34]:
bool("Hello World"), bool("    ")

True

In [37]:
"Test"  # str
13      # int
12      # int
0.4     # float
False   # bool
"    "  # str
"True"  # str
"13"    # str

'13'

# STR - операции со строками

In [38]:
"мама"[::-1]

'амам'

In [9]:
"Hello world"[0:2]

'He'

In [7]:
"Hello world"[7]

'o'

# [ : : ] - срезы / slice

# ОДИН ЭЛЕМЕНТ

In [41]:
"Hello world"[3]

'l'

In [42]:
"Hello world"[40]

IndexError: string index out of range

In [10]:
"Hello world"[-1]

'd'

In [11]:
"Hello world"[-2]

'l'

In [13]:
"Hello world"[-11]  # [0]

'H'

# количество элементов

In [21]:
len("Hello world")

11

In [18]:
len()

TypeError: len() takes exactly one argument (0 given)

In [19]:
len(1)

TypeError: object of type 'int' has no len()

In [20]:
len(True)

TypeError: object of type 'bool' has no len()

In [27]:
st = "Hello world"
print(st.lower())  # "Hello world".lower()
print(st)

hello world
Hello world

In [29]:
st = "35"
print(st.isdigit())
st = "Hello world"
print(st.isdigit())

True
False

In [34]:
st = "35.9"
st.isdigit()

False

In [31]:
int("9abc")

ValueError: invalid literal for int() with base 10: '9abc'

In [37]:
st = "Hello"
print(st.find("l"))
print(st.rfind("l"))

2
3

In [40]:
st = "Hello world"
print(st.find("ello    "))

-1

# Подстрока

"строка"[старт:конец]  - конец не включая

In [41]:
"Hello World"[1:7]

'ello W'

In [42]:
"Hello World"[:7]

'Hello W'

In [44]:
"Hello World"[3:]

'lo World'

# Подстрока с шагом

In [45]:
"Hello World"[0:6:2]

'Hlo'

In [46]:
"Hello World"[::2]

'HloWrd'

In [55]:
import pandas as pd
pd.DataFrame(
    data={
        'буква': list("Hello world"),
        'цифра': range(11)
    }
)

   буква  цифра
0      H      0
1      e      1
2      l      2
3      l      3
4      o      4
5             5
6      w      6
7      o      7
8      r      8
9      l      9
10     d     10

In [47]:
"Hello World"[::]

'Hello World'

In [57]:
"Hello World"[::3]

'HlWl'

In [62]:
"Hello World"[::-1]

'dlroW olleH'

In [63]:
"Hello World"[::-2]

'drWolH'

In [69]:
"Hello World"[-2::-2]

'lo le'

# Есть ли подстрока в строке

In [72]:
"Ihar" in "asfna skjfhk jsahf jsah fjasbj f Ihar asjh aksjfh jashf shf jsahf jbasljh fbaskjh"

True

In [73]:
"Pavel" in "asfna skjfhk jsahf jsah fjasbj f Ihar asjh aksjfh jashf shf jsahf jbasljh fbaskjh"

False

In [74]:
"Ihar" in " test ihar test"  # важен регистр

False

# Заменить все элементы в строке

In [75]:
"Hello world".replace("l", 'x')

'Hexxo worxd'

# Форматирование строк

In [76]:
"Hello"

'Hello'

In [77]:
"Petr"

'Petr'

In [79]:
"Hello" + " Petr"

'Hello Petr'

In [80]:
"Hello" + 13

TypeError: can only concatenate str (not "int") to str

In [81]:
"{} {}".format("Hello", "World")

'Hello World'

In [82]:
"{1} {0}".format("Hello", "World")

'World Hello'

In [84]:
"{}".format("Hello", "World")

'Hello'

In [85]:
"{} {} {}".format("Hello", "World")

IndexError: tuple index out of range

In [48]:
"{}".format("Hello", "World")

'Hello'

In [51]:
"Привет, меня зовут {} {} {}".format("Иван", "Иванов", "35")

'Привет, меня зовут Иван Иванов 35'

In [52]:
"Привет, меня зовут {} {} {}"

'Привет, меня зовут {} {} {}'

In [53]:
print(f"{'Hello'} {13} {True}")

Hello 13 True

In [55]:
fname = "Ivan"
lname = "Ivanov"
age = 35
message = f"Hello, my name is {fname} {lname}, {age}"
print(message)

Hello, my name is Ivan Ivanov, 35

# Collections: 
## list - [1, 2, 3]

In [57]:
poeszd = [1, 10, 3, 4]
print(poeszd)

[1, 10, 3, 4]

In [58]:
poezd = [1, 2, 3, "Test", False, 3.0]
print(poezd)

[1, 2, 3, 'Test', False, 3.0]

In [59]:
type(poezd)

list

In [62]:
type("abc"), type(1), type(True), type(3.14)

(str, int, bool, float)

In [66]:
bool(""), bool([]), bool(0), bool(0.0)

(False, False, False, False)

In [67]:
bool([1]), bool([0]), bool([""]), bool([False])

(True, True, True, True)

In [69]:
poezd = [1, 2, 3, "Test", False, 3.0]
print(poezd[::-1])

[3.0, False, 'Test', 3, 2, 1]

In [85]:
poezd = [1, 2, 3, "Test", False, 3.0]
print(poezd[3])

Test

In [71]:
print(len(poezd))

6

In [100]:
["Alex", "Viktor", "Marina"] + ["Mike"]

['Alex', 'Viktor', 'Marina', 'Mike']

In [73]:
students = ["Alex", "Viktor", "Marina"]
students.pop()
students.pop()
students

['Alex']

In [86]:
students = ["Alex", "Viktor", "Marina"]
removed_student = students.pop()
print(students)
print(removed_student)

['Alex', 'Viktor']
Marina

In [74]:
students = ["Alex", "Viktor", "Marina"]
students.remove("Alex")
students

['Viktor', 'Marina']

In [75]:
students = ["Alex", "Viktor", "Marina"]
students.append("Dima")
students

['Alex', 'Viktor', 'Marina', 'Dima']

In [76]:
students = ["Alex", "Viktor", "Marina"]
students.pop(1)
students

['Alex', 'Marina']

In [84]:
students = ["Alex", "Viktor", "Marina"]
students.insert(-1, "Dima")
students

['Alex', 'Viktor', 'Dima', 'Marina']

In [87]:
poezd_is_studentov = [["Alex", "Dima"], ["Petr", "Ivan"]]
students = poezd_is_studentov[0]
print(students)

['Alex', 'Dima']

In [91]:
names = ["Alex", "Dima"]
fruits = ["Apple", "Lemon"]
print(names + fruits)
# names += fruits
# print(names)
names.extend(fruits)
print(names)

['Alex', 'Dima', 'Apple', 'Lemon']
None
['Alex', 'Dima', 'Apple', 'Lemon']

In [93]:
names = ["Alex", "Dima"]
fruits = ["Apple", "Lemon"]
names.append(fruits)
print(names)

['Alex', 'Dima', ['Apple', 'Lemon']]

## tuple - (1, 2, 3)

In [98]:
("Monday","Tuesday","Wednesday")

('Monday', 'Tuesday', 'Wednesday')

In [95]:
week_days = ("Monday","Tuesday","Wednesday")
week_days.insert(1, "Sunday")
week_days

AttributeError: 'tuple' object has no attribute 'insert'

In [96]:
week_days_1 = ("Monday","Tuesday","Wednesday")
week_days_2 = ("Thursday","Friday","Saturday")
week_days = week_days_1 + week_days_2
week_days

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [98]:
names = ("Ihar",)
names

('Ihar',)

## dict - {'name': 'Ihar'}

In [132]:
user = {
    "name": "Ihar",
    "last_name": "Petrov",
    "bth": "28.10.1900",
}
print(user)

{'name': 'Ihar', 'last_name': 'Petrov', 'bth': '28.10.1900'}

In [134]:
user["bth"]

'28.10.1900'

### Что можно?

In [138]:
{
    "name": "Ihar",
    "name2": "Ihar",
    1: "город",
    True: "something",
}

{'name': 'Ihar', 'name2': 'Ihar', 1: 'something'}

In [118]:
{
    ("Monday","Tuesday","Wednesday"): "дни недели",
}

{('Monday', 'Tuesday', 'Wednesday'): 'дни недели'}

In [137]:
{
    "дни недели": ("Monday","Tuesday","Wednesday"),
}

{'дни недели': ('Monday', 'Tuesday', 'Wednesday')}

In [123]:
len({"name": "Ihar"})

1

### Что нельзя?

When Key = LIST, DICT, SET

In [139]:
{
    ["Monday","Tuesday","Wednesday"]: "дни недели",
}

TypeError: unhashable type: 'list'

In [124]:
{
    "name": "Ihar",
}

{'name': 'Ihar'}

In [125]:
{
    "name": "Dima",
}

{'name': 'Dima'}

In [161]:
students = [
    {
        "name": "Alex",
        "age": 25,
    },
    {
        "name": "Viktor", 
    },
]

In [162]:
students

[{'name': 'Alex', 'age': 25}, {'name': 'Viktor'}]

In [163]:
students[0]['name']

'Alex'

# Get or KeyError

In [152]:
students[1]['age']

KeyError: 'age'

In [156]:
students[0].get("age", 100)

25

In [153]:
students[1].get("age", 100)

100

In [166]:
print(students[1].get("age"))

None

In [167]:
print(None)

None

In [168]:
students = [
    {
        "name": "Alex",
        "age": 25,
    },
    {
        "name": "Viktor", 
        "age": None,
    },
]

In [170]:
print(students[1]["age"])

None

In [171]:
bool(None)

False

In [173]:
student = {
    "name": "Alex",
    "age": 25,
    "last_name": None
}
student

{'name': 'Alex', 'age': 25, 'last_name': None}

In [187]:
fname = "Ihar"
lname = 'Ivanov'

In [188]:
people = [fname, lname]
people

['Ihar', 'Ivanov']

In [189]:
key = "first_name"

In [190]:
student = {
    key: fname,
    "last_name": lname,
}

In [191]:
lname += "x"
lname

'Ivanovx'

In [192]:
student

{'first_name': 'Ihar', 'last_name': 'Ivanov'}

In [182]:
print(student.get("last_name", 100))

None

In [176]:
student

{'name': 'Alex', 'age': 25, 'last_name': None}

In [142]:
student["last_name"] = "Petrov"
student

{'name': 'Alex', 'age': 25, 'last_name': 'Petrov'}

In [143]:
student['name']

'Alex'

In [144]:
student['name'] = "Marina"
student

{'name': 'Marina', 'age': 25, 'last_name': 'Petrov'}

In [145]:
student.pop("name")

'Marina'

In [146]:
student

{'age': 25, 'last_name': 'Petrov'}

In [ ]:
from collections import OrderedDict

## set - {1, 2, 3} 
порядок не сохраняется

In [99]:
["Ihar", "Dima", "Vasia", "Ihar", "Lena", "Marina", "Marina", "Petr"]

['Ihar', 'Dima', 'Vasia', 'Ihar', 'Lena', 'Marina', 'Marina', 'Petr']

In [100]:
{"Ihar", "Dima", "Vasia", "Ihar", "Lena", "Marina", "Marina", "Petr"}

{'Dima', 'Ihar', 'Lena', 'Marina', 'Petr', 'Vasia'}

In [138]:
type({"Ihar", "Dima", "Vasia", "Ihar", "Lena", "Marina", "Marina", "Petr"})

set

In [139]:
set(["Ihar", "Dima", "Vasia", "Ihar", "Lena", "Marina", "Marina", "Petr"])

{'Dima', 'Ihar', 'Lena', 'Marina', 'Petr', 'Vasia'}

In [102]:
people = {"Ihar", "Dima", "Vasia", "Ihar", "Lena", "Marina"}

In [103]:
people.add("Petr")

In [105]:
people

{'Dima', 'Ihar', 'Lena', 'Marina', 'Petr', 'Vasia'}

In [109]:
people.pop()

'Petr'

In [110]:
people

{'Ihar', 'Lena'}

In [111]:
people.remove("Lena")

In [112]:
people

{'Ihar'}

In [113]:
people.add('Petr')
people

{'Ihar', 'Petr'}

In [114]:
len(people)

2

In [115]:
people[0]

TypeError: 'set' object is not subscriptable

In [116]:
students = ["Ihar", "Dima", "Petr", "Ivan", "Dima", "Marina", "Alex", "Marina"]
unique_students = set(students)

In [117]:
unique_students

{'Alex', 'Dima', 'Ihar', 'Ivan', 'Marina', 'Petr'}

In [118]:
list_of_unique_students = list(unique_students)

In [119]:
list_of_unique_students

['Dima', 'Marina', 'Ivan', 'Petr', 'Alex', 'Ihar']

In [120]:
"Dima" in unique_students

True

In [121]:
"Denis" in unique_students

False

In [122]:
students_1 = {"Dima", "Petr", "Ivan"}
students_2 = {"Dima", "Marina", "Alex"}

In [123]:
students_1 - students_2

{'Ivan', 'Petr'}

In [125]:
students_1 & students_2

{'Dima'}

In [126]:
students_2 - students_1

{'Alex', 'Marina'}

In [127]:
students_1 | students_2

{'Alex', 'Dima', 'Ivan', 'Marina', 'Petr'}

In [128]:
students_1.intersection(students_2)

{'Dima'}

In [129]:
students_1.difference(students_2)

{'Ivan', 'Petr'}

In [130]:
students_1.union(students_2)

{'Alex', 'Dima', 'Ivan', 'Marina', 'Petr'}

https://pythonworld.ru/tipy-dannyx-v-python/mnozhestva-set-i-frozenset.html

# Неизменяемые vs Изменяемые

In [193]:
a = []

In [194]:
b = a

In [195]:
a.append(1)

In [196]:
a

[1]

In [197]:
b

[1]

In [198]:
a = "Alex"
b = a

In [199]:
a += "andr"
a

'Alexandr'

In [200]:
b

'Alex'

In [ ]:
""

# Задание 2.03

In [201]:
names = ["Alex", "Dima"]
fruits = ("Apple", "Lemon")

In [202]:
{
    names: fruits
}

TypeError: unhashable type: 'list'

In [203]:
{
    fruits: names
}

{('Apple', 'Lemon'): ['Alex', 'Dima']}

In [206]:
{
    ("Февраль", "Январь"): ["Tumbda", 'Timba'],
}

{('Февраль', 'Январь'): ['Tumbda', 'Timba']}

In [207]:
list('he')

['h', 'e']

In [211]:
id("abc")

140701794142640