In [1]:
print("Hello World")

Hello World

In [2]:
1 + 1

2

In [3]:
1 - 1

0

In [4]:
4 / 2

1.0

In [11]:
4 * 2

8

In [6]:
4 ** 2

16

In [8]:
5 // 2

2

In [9]:
5 % 2

1

In [12]:
4 ** 0.5

2.0

## int - целые

In [13]:
13

13

## float - дробные

In [14]:
13.0

13.0

In [15]:
type(13)

int

In [16]:
type(13.0)

float

In [17]:
int(13.0)

13

In [18]:
float(13)

13.0

# str - строки

In [19]:
тестовая строка

SyntaxError: invalid syntax (<ipython-input-19-d9c7c1cecdc1>, line 1)

In [21]:
"тестовая строка"  # 'тестовая строка'

'тестовая строка'

In [23]:
"тестовая строка \"TMS\""

'тестовая строка "TMS"'

In [24]:
'тестовая строка "TMS"'

'тестовая строка "TMS"'

# bool - флаг / буленовский (True / False)

In [25]:
True

True

In [26]:
False

False

In [27]:
type(True), type(False)

(bool, bool)

In [31]:
bool(1), bool(-1)

(True, True)

In [32]:
bool(0)

False

In [33]:
bool("")

False

In [34]:
bool("Hello World"), bool("    ")

True

In [37]:
"Test"  # str
13      # int
12      # int
0.4     # float
False   # bool
"    "  # str
"True"  # str
"13"    # str

'13'

# STR - операции со строками

In [38]:
"мама"[::-1]

'амам'

In [39]:
"Hello world"[0:5]

'Hello'

In [40]:
"Hello world"[0]

'H'

# [ : : ] - срезы / slice

# ОДИН ЭЛЕМЕНТ

In [41]:
"Hello world"[3]

'l'

In [42]:
"Hello world"[40]

IndexError: string index out of range

In [43]:
"Hello world"[-1]

'd'

In [44]:
"Hello world"[-2]

'l'

# количество элементов

In [45]:
len("Hello world")

11

In [46]:
len(1)

TypeError: object of type 'int' has no len()

In [47]:
len(True)

TypeError: object of type 'bool' has no len()

# Подстрока

"строка"[старт:конец]  - конец не включая

In [48]:
"Hello World"[1:7]

'ello W'

In [50]:
"Hello World"[:7]

'Hello W'

In [52]:
"Hello World"[3:]

'lo World'

# Подстрока с шагом

In [49]:
"Hello World"[0:6:2]

'Hlo'

In [55]:
import pandas as pd
pd.DataFrame(
    data={
        'буква': list("Hello world"),
        'цифра': range(11)
    }
)

   буква  цифра
0      H      0
1      e      1
2      l      2
3      l      3
4      o      4
5             5
6      w      6
7      o      7
8      r      8
9      l      9
10     d     10

In [56]:
"Hello World"[::]

'Hello World'

In [57]:
"Hello World"[::3]

'HlWl'

In [62]:
"Hello World"[::-1]

'dlroW olleH'

In [63]:
"Hello World"[::-2]

'drWolH'

In [69]:
"Hello World"[-2::-2]

'lo le'

# Есть ли подстрока в строке

In [72]:
"Ihar" in "asfna skjfhk jsahf jsah fjasbj f Ihar asjh aksjfh jashf shf jsahf jbasljh fbaskjh"

True

In [73]:
"Pavel" in "asfna skjfhk jsahf jsah fjasbj f Ihar asjh aksjfh jashf shf jsahf jbasljh fbaskjh"

False

In [74]:
"Ihar" in " test ihar test"  # важен регистр

False

# Заменить все элементы в строке

In [75]:
"Hello world".replace("l", 'x')

'Hexxo worxd'

# Форматирование строк

In [76]:
"Hello"

'Hello'

In [77]:
"Petr"

'Petr'

In [79]:
"Hello" + " Petr"

'Hello Petr'

In [80]:
"Hello" + 13

TypeError: can only concatenate str (not "int") to str

In [81]:
"{} {}".format("Hello", "World")

'Hello World'

In [82]:
"{1} {0}".format("Hello", "World")

'World Hello'

In [84]:
"{}".format("Hello", "World")

'Hello'

In [85]:
"{} {} {}".format("Hello", "World")

IndexError: tuple index out of range

In [87]:
print("{}".format("Hello", "World"))
print(f"{'Hello'} {13} {True}")

Hello
Hello 13 True

# Collections: 
## list - [1, 2, 3]

In [89]:
[1, 2, 3, "Test", False, 3.0]

[1, 2, 3, 'Test', False, 3.0]

In [90]:
type([1, 2, 3])

list

In [91]:
bool([])

False

In [95]:
bool([1]), bool([0]), bool([""])

(True, True, True)

In [96]:
[1, 2, 3, "Test", False, 3.0][::-1]

[3.0, False, 'Test', 3, 2, 1]

In [97]:
[1, 2, 3, "Test", False, 3.0][3]

'Test'

In [100]:
["Alex", "Viktor", "Marina"] + ["Mike"]

['Alex', 'Viktor', 'Marina', 'Mike']

In [104]:
students = ["Alex", "Viktor", "Marina"]
students.pop()
students.pop()
students

['Alex']

In [107]:
students = ["Alex", "Viktor", "Marina"]
students.remove("Alex")
students

['Viktor', 'Marina']

In [108]:
students = ["Alex", "Viktor", "Marina"]
students.append("Dima")
students

['Alex', 'Viktor', 'Marina', 'Dima']

In [109]:
students = ["Alex", "Viktor", "Marina"]
students.pop(1)
students

['Alex', 'Marina']

In [110]:
students = ["Alex", "Viktor", "Marina"]
students.insert(1, "Dima")
students

['Alex', 'Dima', 'Viktor', 'Marina']

## tuple - (1, 2, 3)

In [98]:
("Monday","Tuesday","Wednesday")

('Monday', 'Tuesday', 'Wednesday')

In [111]:
week_days = ("Monday","Tuesday","Wednesday")
week_days.insert(1, "Sunday")
week_days

AttributeError: 'tuple' object has no attribute 'insert'

## dict - {'name': 'Ihar'}

In [112]:
{
    "name": "Ihar",
    "last_name": "Petrov",
    "bth": "28.10.1900",
}

{'name': 'Ihar', 'last_name': 'Petrov', 'bth': '28.10.1900'}

### Что можно?

In [117]:
{
    "name": "Ihar",
    1: "город",
}

{'name': 'Ihar', 1: 'город'}

In [118]:
{
    ("Monday","Tuesday","Wednesday"): "дни недели",
}

{('Monday', 'Tuesday', 'Wednesday'): 'дни недели'}

In [119]:
{
    "дни недели": ("Monday","Tuesday","Wednesday"),
}

{'дни недели': ('Monday', 'Tuesday', 'Wednesday')}

In [123]:
len({"name": "Ihar"})

1

### Что нельзя?

In [121]:
{
    ["Monday","Tuesday","Wednesday"]: "дни недели",
}

TypeError: unhashable type: 'list'

In [124]:
{
    "name": "Ihar",
}

{'name': 'Ihar'}

In [125]:
{
    "name": "Dima",
}

{'name': 'Dima'}

In [129]:
students = [
    {
        "name": "Alex",
        "age": 25,
    },
    {
        "name": "Viktor", 
    },
]

In [130]:
students

[{'name': 'Alex', 'age': 25}, {'name': 'Viktor'}]

In [134]:
student = {
    "name": "Alex",
    "age": 25,
}
student

{'name': 'Alex', 'age': 25}

In [132]:
student["last_name"] = "Petrov"
student

{'name': 'Alex', 'age': 25, 'last_name': 'Petrov'}

In [133]:
student['name']

'Alex'

In [ ]:
from collections import OrderedDict

## set - {1, 2, 3} 
порядок не сохраняется

In [136]:
["Ihar", "Dima", "Vasia", "Ihar", "Lena", "Marina", "Marina", "Petr"]

['Ihar', 'Dima', 'Vasia', 'Ihar', 'Lena', 'Marina', 'Marina', 'Petr']

In [137]:
{"Ihar", "Dima", "Vasia", "Ihar", "Lena", "Marina", "Marina", "Petr"}

{'Dima', 'Ihar', 'Lena', 'Marina', 'Petr', 'Vasia'}

In [138]:
type({"Ihar", "Dima", "Vasia", "Ihar", "Lena", "Marina", "Marina", "Petr"})

set

In [139]:
set(["Ihar", "Dima", "Vasia", "Ihar", "Lena", "Marina", "Marina", "Petr"])

{'Dima', 'Ihar', 'Lena', 'Marina', 'Petr', 'Vasia'}

In [140]:
people = {"Ihar", "Dima", "Vasia", "Ihar", "Lena", "Marina"}

In [141]:
people.add("Petr")

In [142]:
people

{'Dima', 'Ihar', 'Lena', 'Marina', 'Petr', 'Vasia'}

In [146]:
people.pop()

'Ihar'

In [147]:
people

{'Lena', 'Marina', 'Petr', 'Vasia'}

In [148]:
people.remove("Marina")

In [149]:
people

{'Lena', 'Petr', 'Vasia'}

In [150]:
people.add('Petr')
people

{'Lena', 'Petr', 'Vasia'}